title: Mi Primer Sitio Web
email: tu-email@ejemplo.com
description: >-
  Este es mi primer sitio web creado con GitHub Pages.
  Estoy aprendiendo a usar GitHub Skills.

theme: minima

# Build settings
markdown: kramdown
